#btn-container{
    text-align:center;
    height: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
#create-order-head{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 7%;
    align-items: center;

}
#create-order-head>div{
    padding: 0px 30px;
}
#create-order-head>div>input{
  margin-left: 10px;
  height: 20px;
  text-align: center;
  border:none;
  
}
#btn-container>button{
    color:#5861AE;
    background-color: white;
    padding:10px;
    border:1px solid #5861AE;
    border-radius: 5px;

}
