.navcont {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 80px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 48px #0000000f;
  opacity: 1;
}
.navcont span{
    margin-top: 29.5px;
    color: #5861AE;
    font-size: 20px;
}
.navcont ul {
  list-style: none;
  display: flex;
}
.navcont ul li {
display: flex;
justify-content: center;
align-items: center;
  margin-inline: 20px;
  height: 80px;
  width: 112.5px;
}
.navcont ul li:active{
    background-color: #5861AE;
}
.navcont ul #li {
  text-decoration: none;
}
.navcont ul #li:active{
  color:#ffffff;
}